@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>
    <div class="container">
        <div class="form-box" id="login-form">
            <form asp-action="Login" method="post">
                <h1> Doruk Haber Portalı</h1>
                
                <input type="text" placeholder="User Name" id="UserName" name="UserName" required />
                <input type="password" name="password" placeholder="Password" required />
                    <button type="submit" name="login">Login</button>
               
                <p>Don't have account? <a href="/User/Register" onclick="showForm('register-form')">Register</a></p>
                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="msgbox-success">
                        <strong>@TempData["SuccessMessage"]</strong>
                    </div>
                }

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="msgbox-error">
                        <strong>@TempData["ErrorMessage"]</strong>
                    </div>
                }

            </form>
        </div>
    </div>
        <script src="script.js"></script>
</body>
</html>

